<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hexis.Twitter{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                <p>Header</p>
                {% if app.user.email is defined %}
                    <p>Logged in as: {{ app.user.email }}</p>
                    <a href="{{ path('app_logout') }}">Log Out</a>
                {% endif %}
            {% endblock %}
        </header>
        <content>
            {% block body %}
            {% endblock %}
        </content>
        <footer>
            {% block footer %}
                <p>Footer</p>
            {% endblock %}
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
